name: Hello World

on:
  push:
    branches:
      - master

jobs:
  hello_world:
    runs-on: ubuntu-latest

    steps:
      - name: Echo the message
        run: |
          echo "Hello World"
      - name: Print The Date
        run: |
          date
      - run: ls -lAh
